* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 736px;
  margin: 0 auto;
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 465px;
  background: #293241;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 110px;
  width: 750px;
}

header h1,
p,
.title h2 {
  color: #FFFFFF;
}

header h1 {
  font-family: 'Staatliches';
  font-size: 36px;
  line-height: 45px;
}

header p {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 24px;
}

header img {
  width: 225px;
  height: 100px;
  margin: 2px 0 32px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 750px;
  height: 133px;
  margin-top: 332px;
  background: #F67669;
  border-radius: 20px 20px 0 0;
}

.title h2 {
  font-family: 'Staatliches';
  font-size: 24px;
  line-height: 34px;
}

form {
  position: absolute;
  width: 750px;
  height: 1075px;
  margin-top: 465px;
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

fieldset {
  border: none;
}

.fieldset-wrapper {
  font-family: 'Staatliches';
  font-size: 24px;
  line-height: 34px;
  color: #253B51;
  border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper legend {
  display: flex;
  margin: 32px 0 0 0;
  align-items: center;
  justify-content: center;
  width: 622px;
}



.full-name {
  display: flex;
  gap: 22px;
  margin-top: 32px;

}

.full-name .input-wrapper label,
.input-wrapper label {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;


  color: #4E4958;

}

.input-wrapper label span {

  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}

.full-name .input-wrapper input,
.input-wrapper select {
  background: #FAFAFC;

  width: 300px;
  height: 56px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  gap: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;

}

.input-wrapper input {

  background: #FAFAFC;

  width: 622px;
  height: 56px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

#mentor-feedback {
  height: 170px;
}

.checkbox-wrapper input {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  width: 24px;
  height: 24px;
}

.checkbox-wrapper {
  display: flex;


  gap: 8px;
}

#date {
  width: 300px;
}

#hour-start,
#hour-end {
  width: 140px;
}

.full-time {
  display: flex;
  gap: 20px;
}

.col-3>div:nth-child(1) {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
}

footer .button {

  position: absolute;
  width: 622px;
  height: 51px;
  top: 1423px;

  background: #F67669;
  border-radius: 8px;
  border: none;

  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;



  color: #FFFFFF;
}