* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text-color: #FFFFFF;
  --btn-text-color: #0D3B66;

  --bg-header-color: #E44449;
  --bg-main-color: #F15156;
  --bg-modal-color: #b0b0b0;
  --btn-bg-color: #FFFFFF;
  --white-bg-color: #FFFFFF;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #1E1E1E;
}

header {
  background: var(--bg-header-color);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

main {
  background: var(--bg-main-color);
  height: 100vh;
}

.friends {
  height: 5rem;
  width: 17rem;
  margin: 0 2rem;
  padding-top: 4rem;
}

.friends img {
  display: flex;
  align-items: center;
  position: absolute;
}

.friends> :nth-child(1) {
  position: absolute;
  z-index: 1;
  left: 2rem;
}

.friends> :nth-child(2) {
  position: absolute;
  z-index: 2;
  left: 4rem;
}

.friends> :nth-child(3) {
  position: absolute;
  z-index: 3;
  left: 6rem;
}

.friends> :nth-child(4) {
  position: absolute;
  z-index: 4;
  left: 8rem;
}

.friends p {
  margin-top: 4rem;
  color: var(--text-color);
}

.content {
  position: absolute;
  color: var(--text-color);
  margin-top: 6rem;
  left: 2rem;
}

.content h1 {
  font-size: 4.4rem;
  font-weight: 800;
}

.btn-acesse {
  background: url(./assets/caramelo-mobile.png);
  height: 28rem;
  margin: 3rem auto;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-acesse button {
  background: var(--btn-bg-color);
  padding: 0.8rem 6.2rem;
  border: none;
  border-radius: 1.2rem;
  color: var(--btn-text-color);
  font-size: 1.4rem;
  width: 24rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.descriptions {
  background: var(--bg-decriptions-color);
  margin-top: 58rem;
  background: var(--white-bg-color);
}

.descriptions h2 {
  color: var(--text-h2-desciption-color);
  font-weight: 700;
  font-size: 3rem;
  padding: 4rem 2rem 2rem;
  margin-top: 3rem;
}

.description {
  width: 32rem;
  height: 20rem;
  background: var(--bg-description-color);
  border-radius: 2rem;
  border: 1px solid rgba(241, 81, 86, 0.3);
  margin: 0 auto 1rem;
  opacity: 0.5;
}


.description p {
  padding: 2rem;
  color: var(--text-description-color);
  font-size: 1.4rem;
  font-weight: 700;

}

.img-footer {
  background: #ffffff url(./assets/footer-mobile.png) no-repeat;
  background-size: cover;
  margin: -1rem;
  height: 36rem;
}

.hide-mobile,
.hide {
  display: none;
}



.modal-menu {
  background: #a3a5a7;
  height: 100vh;
  margin-top: -105rem;
}

.modal-menu .modal-page {
  background: var(--bg-header-color);
  border-radius: 0px 0px 20px 20px;
  width: 36rem;
  height: 28rem;
  margin: 0 auto;
  opacity: 1;
}

.modal-menu .header {
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 1);
  padding: 2rem;
}

.modal-menu .header .btn-close-modal {
  width: 12rem;
  height: 3rem;
  position: relative;
  left: 8rem;
}

.modal-menu .nav {
  color: var(--text-color);
  display: flex;
  padding: 0 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.modal-menu .nav li {
  list-style: none;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
  opacity: 0.5;
}

.modal-menu .nav li:hover {
  opacity: 1;
}

@media(min-width: 600px) {

  .content {
    display: grid;
    grid-template-areas:
      "A B"
      "C B";
    grid-gap: 5rem
  }

  .content h1 {
    grid-area: A;
    margin-top: 5rem;
  }

  .content p {
    grid-area: C;
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  .content .btn-acesse {
    padding-left: 2rem;
    grid-area: B;
    background: url(./assets/caramelo-desktop.png);
    margin-top: -8rem;
    height: 60rem;
    width: 67rem;
  }

  .hide-mobile {
    display: grid;
  }

  .img-footer {
    position: relative;
  }
}